@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Vollkorn:ital@0;1&display=swap');
.dacing {
    font-family: 'Vollkorn', serif;
}

.logo {
    font-family: 'Satisfy', cursive;
}

.titre {
    margin-top: 10%;
}

.formlogin {
    margin-top: 40px;
}